# This file was generated automatically from conda-smithy. To update this configuration,
# update the conda-forge.yml and/or the recipe/meta.yaml.

language: generic

os: osx
osx_image: xcode6.4

env:
  matrix:
    
    - CONDA_NPY=111  CONDA_PY=27
    - CONDA_NPY=112  CONDA_PY=27
    - CONDA_NPY=113  CONDA_PY=27
    - CONDA_NPY=111  CONDA_PY=35
    - CONDA_NPY=112  CONDA_PY=35
    - CONDA_NPY=113  CONDA_PY=35
    - CONDA_NPY=111  CONDA_PY=36
    - CONDA_NPY=112  CONDA_PY=36
    - CONDA_NPY=113  CONDA_PY=36
  global:
    # The BINSTAR_TOKEN secure variable. This is defined canonically in conda-forge.yml.
    - secure: "rejz0bY5Q9s3WkS/vwn1sgawEZgz5quiDDWx5ZLSIh0P6uSp5j+5GMkRLP+Yqfl32Jym0yiSkeixYwWULwnNtbDtAjUctba7DbJsjOUhe6SS0VlJtlyRBkVG72fYaRta5hxQkiG0YHp9kNmHuDVkgJk/5wAW4o4iY+THKuHxWjqGoBjr/lsssrCrwotuCkc8PS/tztmmGSYvYX9f4091nkkCkMyKTLIXrWGx4gtTzV4c6kayOrQwHBCCVBSE8o8EawQGf6ynhjmxlUHMHKwxJtCEFjXSpLTl9m+XtIUd1O1u0dKkjs1HQzhKukp7uQw/tztEBlw2MpNrVIlEzwL4DRwL53RE80k7LXZ1eDz2WHgAuaUjYiT/NekoBQ/o+DKk4clvt4diYKCi7/AQfTCb5p+0jK1sl42q3tTgLHaAs/cxQ/GXH5thFq5jBWm/+AwigWgacPhBv1NVaqO2kzcQ2yc8kNNrc60RPfcliyAMkLNzFvbqocHuyau1U5luJ1YMr4O2PygQ16XoLI0sV3C/mhl4psMNlEQH8uiGkEjs1dfDjGro/APOEMmJbdZZtIU9rRwMX5NiViNt5l7vu+a11F61qoKK45I6R9xug0Trg9i3bbPtBr6aTnuSDE44NpNepn3ZmL+iyZDe4q98uP/EB4VuwZKcjaVMIPjBombU6pg="


before_install:
    # Fast finish the PR.
    - |
      (curl https://raw.githubusercontent.com/conda-forge/conda-forge-build-setup-feedstock/master/recipe/ff_ci_pr_build.py | \
          python - -v --ci "travis" "${TRAVIS_REPO_SLUG}" "${TRAVIS_BUILD_NUMBER}" "${TRAVIS_PULL_REQUEST}") || exit 1

    # Remove homebrew.
    - |
      echo ""
      echo "Removing homebrew from Travis CI to avoid conflicts."
      curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/uninstall > ~/uninstall_homebrew
      chmod +x ~/uninstall_homebrew
      ~/uninstall_homebrew -fq
      rm ~/uninstall_homebrew


install:
    # Install Miniconda.
    - |
      echo ""
      echo "Installing a fresh version of Miniconda."
      MINICONDA_URL="https://repo.continuum.io/miniconda"
      MINICONDA_FILE="Miniconda3-latest-MacOSX-x86_64.sh"
      curl -L -O "${MINICONDA_URL}/${MINICONDA_FILE}"
      bash $MINICONDA_FILE -b

    # Configure conda.
    - |
      echo ""
      echo "Configuring conda."
      source /Users/travis/miniconda3/bin/activate root
      conda config --remove channels defaults
      conda config --add channels defaults
      conda config --add channels conda-forge
      conda config --set show_channel_urls true
      conda install --yes --quiet conda-forge-build-setup
      source run_conda_forge_build_setup

script:
  - conda build ./recipe

  - upload_or_check_non_existence ./recipe conda-forge --channel=main
