# This file was generated automatically from conda-smithy. To update this configuration,
# update the conda-forge.yml and/or the recipe/meta.yaml.

language: generic

os: osx
osx_image: xcode6.4

env:
  matrix:
    - CONFIG=osx_c_compilerclangpython2.7
    - CONFIG=osx_c_compilerclangpython3.6
    - CONFIG=osx_c_compilerclangpython3.7
    - CONFIG=osx_c_compilertoolchain_cpython2.7
    - CONFIG=osx_c_compilertoolchain_cpython3.6
    - CONFIG=osx_c_compilertoolchain_cpython3.7

  global:
    # The BINSTAR_TOKEN secure variable. This is defined canonically in conda-forge.yml.
    - secure: "dinFS2v/tEC8V2R5uMzJNQunnRt5fX2Ck0sFxXkpbwLp9Onwgeum4gYxTIprKdqL4hTBmncDdRgNkZTF/dpaizwYmf6czm0UnoLx1Hghn+f2KXZ1PBUhvN+7mRxrWSH/RDAPh9eZ24YNqxaGippvUN27xSuGq0khQVRwFYWbgjA1UlpVUQQrsMQ2jpr1PYoDS3M/MI8qRAEc0dsMGYRvYKw4Ri2q6qJJd48rSGxuUnJxAofeB+a7gBNia5ml/UXBsPhChGFWFSM2/4p/LqTFl9OKv3SxtvfYZPKwTUE9MtGmZY/JC9TXla8fBkJKxjNhx/ViJ/RisPbHTS/Elf9c6Kfxn960fFbXiTbDVu/7ZvIigTSA0yWHPpOIXWm8lw4EJlc9SYnb3AKiIMzAqKt9m2G2Ll142n8Zbq22SSnsIf6RGJkgLznFck2nGjCa2GLlS7FJYiDTX1HazUss4O+woTSYtu5suDx694oTJWzDfIYuxA6RIrod+5X6obh004QXb6qMZ72n2b5DN18ap4xRihU7IvshIEgaASIZ+aBTIAMvMY2hqvdIcMq4P2h99c7wGU5sJZO695m+/Oy0Wxh+BQUU8qkR4ynZ++YiM6kQMZoDYfsiV5PfyZY80ljveqATrQzqdYSmMPbiL7rEaC/ftiw42p6f7WSA+U7kBftBMcI="


before_install:
    # Fast finish the PR.
    - |
      (curl https://raw.githubusercontent.com/conda-forge/conda-forge-ci-setup-feedstock/branch2.0/recipe/conda_forge_ci_setup/ff_ci_pr_build.py | \
          python - -v --ci "travis" "${TRAVIS_REPO_SLUG}" "${TRAVIS_BUILD_NUMBER}" "${TRAVIS_PULL_REQUEST}") || exit 1

    # Remove homebrew.
    - |
      echo ""
      echo "Removing homebrew from Travis CI to avoid conflicts."
      curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/uninstall > ~/uninstall_homebrew
      chmod +x ~/uninstall_homebrew
      ~/uninstall_homebrew -fq
      rm ~/uninstall_homebrew


install:
    # Install Miniconda.
    - |
      echo ""
      echo "Installing a fresh version of Miniconda."
      MINICONDA_URL="https://repo.continuum.io/miniconda"
      MINICONDA_FILE="Miniconda3-latest-MacOSX-x86_64.sh"
      curl -L -O "${MINICONDA_URL}/${MINICONDA_FILE}"
      bash $MINICONDA_FILE -b

    # Configure conda.
    - |
      echo ""
      echo "Configuring conda."
      source /Users/travis/miniconda3/bin/activate root

      conda install --yes --quiet conda-forge::conda-forge-ci-setup=2
      setup_conda_rc ./ ./recipe ./.ci_support/${CONFIG}.yaml

      source run_conda_forge_build_setup

    # compiler cleanup
    - |
      mangle_compiler ./ ./recipe ./.ci_support/${CONFIG}.yaml

script:
  # generate the build number clobber
  - make_build_number ./ ./recipe ./.ci_support/${CONFIG}.yaml
  - conda build ./recipe -m ./.ci_support/${CONFIG}.yaml --clobber-file ./.ci_support/clobber_${CONFIG}.yaml
  - upload_package ./ ./recipe ./.ci_support/${CONFIG}.yaml
